@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.maintext {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.maintext p {
    width: 50%;
    font-family: Roboto;
}

.container {
    width: 80%;
    margin: auto;
}

.txtpad {
    margin-right: 80px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text h1 {
    width: 365px;
    height: 93px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-top: 50px;
}

.picture {
    display: flex;
}

.card {
    width: 150px;
    margin-right: 50px;
}

.picture span {
    font-weight: bold;
}

.picture {
    align-items: center;
}

.content {
    align-items: center;
    display: inline-block;
}

.picture img {
    width: 232px;
    height: 203px;
    margin-right: 40px;
}

.right-text {
    display: flex;
}

.maintext img {
    width: 314px;
    height: 315px;
}

.maintext p {
    width: 662px;
    height: 374px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

.leftpic {
    margin-right: 50px;
}


/* tablet responsive */

@media (min-width: 768px) and (max-width: 1024px) {
    .text {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 101.38%;
    }
    .container {
        width: 80%;
        margin: auto;
    }
    .maintext img {
        width: 150px;
        height: 315px;
    }
    .maintext p {
        width: 400px;
        font-size: 18px;
        line-height: 120%;
        height: 200px;
    }
    .maintext {
        display: flex;
        width: 100%;
    }
    .picture img {
        width: 120px;
        height: 203px;
        margin-right: 0px;
    }
    .card3 {
        margin-top: 0;
    }
}


/*Phone*/

@media (min-width: 481px) and (max-width: 767px) {
    .maintext {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 300px;
        flex-wrap: wrap;
    }
    .picture {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .right-text {
        display: flex;
        flex-wrap: wrap;
    }
    /* CSS */
    .maintext p {
        width: 302px;
        height: 204px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        margin-bottom: 20px;
    }
    .maintext img {
        width: 170px;
        height: 205px;
    }
    .picture img {
        width: 102px;
        height: 150px;
        margin-right: 0px;
    }
    .card {
        width: 130px;
        margin-right: 0px;
        font-size: 14px;
    }
    .card3 {
        margin-top: 20px;
    }
}